@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}
.appClass {
  position: relative;
  height: 100vh;
}

#app {
  display: grid;
  grid-template-areas: 'sidebar aside main main';
  grid-template-columns: 1fr 8fr 11fr;
}
/* navbar sidebar */
.sidebar {
  border-right-style: solid;
  border-right-color: rgba(134, 150, 160, 0.15);
  background-color: #314049;
  grid-area: sidebar;
  flex-direction: column;
  display: flex;
  overflow-y: auto;
}
.sidebar nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 59px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
nav ul li {
  cursor: pointer;
  position: relative;
  color: #aebac1;
  font-size: 14px;
  display: table;
  padding: 10px;
  transition: all 0.2s;
}
nav ul li:hover {
  background: #eee;
}
.fas {
  position: relative;
  width: 39px;
  height: 40px;
  top: 10px;
  font-size: 20px;
  text-align: center;
}
nav ul li .nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}
nav ul .logout {
  position: absolute;
  bottom: 0;
}
/* tooltip */
.tooltip {
  color: #314049;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 50px;
}

.tooltip::before {
  background-color: #ffffff;
  position: absolute;
  content: '';
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

li:hover .tooltip {
  top: -50%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
li:hover .tooltipdwn {
  top: 120%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* aside */
.aside {
  grid-area: aside;
  background-color: #f2f2f2;
}
.header-chats {
  padding-left: 20px;
  padding-right: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  color: #8e8e8e;
}
.me-barchat{
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  width: 100%;
  display: flex;
}
.me-barchat:hover {
  background-color: #e5e5e5;
}
.me-profile-img {
  height: 60px;
  width: 80px;
  padding-right: 15px;
}
.me-profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.me-info-chat{
  display: flex;
  flex-direction: column;
}
.me-name{
  font-weight:500;
  padding-top: 15px;
}

.me-online {
  color: #8e8e8e;
  font-size: 16px;
  padding-top: 5px;
}
.barchat{
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e5e5e592;
}
.barchat:hover {
  background-color: #e5e5e5;
}
.profile-img-chat{
  height: 60px;
  width: 80px;
  padding-right: 15px;
}
.profile-img-chat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.info-chat{
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-chat .name-chat{
  font-weight:bold;
  font-size: 17px;
}

.content-chat {
  color: #8e8e8e;
  font-size: 17px;
  font-weight: 500;
}


/* buttons msgs reads */
.btn {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: white;
 }
 
 .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 }
 
 .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .btn::after {
  background-color: #fff;
 }
 
 .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 }
/* online */
/* media queries  */

.main {
  grid-area: main;
  background-color: #ffffff;
}
