@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
}
.appClass {
  position: relative;
  height: 100vh;
}

#app {
  display: grid;
  grid-template-areas: 'sidebar aside main main';
  grid-template-columns: 1fr 8fr 11fr;
}
/* navbar sidebar */
.sidebar {
  border-right-style: solid;
  border-right-color: rgba(134, 150, 160, 0.15);
  background-color: #314049;
  grid-area: sidebar;
  flex-direction: column;
  display: flex;
  overflow-y: auto;
}
.sidebar nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 59px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
nav ul li {
  cursor: pointer;
  position: relative;
  color: #aebac1;
  font-size: 14px;
  display: table;
  padding: 10px;
  transition: all 0.2s;
}
nav ul li:hover {
  background: #eee;
}
.fas {
  position: relative;
  width: 39px;
  height: 40px;
  top: 10px;
  font-size: 20px;
  text-align: center;
}
nav ul li .nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}
nav ul .logout {
  position: absolute;
  bottom: 0;
}
/* tooltip */
.tooltip {
  color: #314049;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3em 0.6em;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 50px;
}

.tooltip::before {
  background-color: #ffffff;
  position: absolute;
  content: '';
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

li:hover .tooltip {
  top: -50%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
li:hover .tooltipdwn {
  top: 120%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* aside */
.aside {
  grid-area: aside;
  background-color: #f2f2f2;
}
.header-chats {
  padding-left: 20px;
  padding-right: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  color: #8e8e8e;
}
.me-barchat {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  width: 100%;
  display: flex;
}
.me-barchat:hover {
  background-color: #e5e5e5;
}
.me-profile-img {
  height: 60px;
  width: 80px;
  padding-right: 15px;
}
.me-profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.me-info-chat {
  display: flex;
  flex-direction: column;
}
.me-name {
  font-weight: 500;
  padding-top: 15px;
}

.me-online {
  color: #8e8e8e;
  font-size: 16px;
  padding-top: 5px;
}
.sub-title-aside {
  font-size: 17px;
  font-weight: 600;
  padding: 20px;
}
.container-barchat {
  overflow-y: auto;
  max-height: 65vh;
}
.barchat {
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e5e5e592;
}
.barchat:hover {
  background-color: #e5e5e5;
}
.profile-img-chat {
  height: 35px;
  width: 50px;
  padding-right: 15px;
}
.profile-img-chat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}
.info-chat {
  width: 345px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.info-chat .name-chat {
  font-weight: bold;
  font-size: 17px;
}

.content-chat {
  color: #8e8e8e;
  font-size: 17px;
  font-weight: 500;
}
.noti-aside {
  margin-top: 5px;
  color: white;
  background-color: #00a2ff;
  padding-top: 2px;
  text-align: center;
  font-size: 16px;
  border-radius: 50%;
  width: 20px;
  height: 22px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.pin-aside {
  margin-top: 5px;
  color: rgb(132, 132, 132);
  padding-top: 2px;
  text-align: center;
  font-size: 16px;
  width: 20px;
  height: 22px;
}
/* input search */
.input-search-container {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  padding: 20px;
}

.input-search {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid rgba(49, 64, 73, 0.24);
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input-search::placeholder {
  color: #9e9ea7;
}

.input-search:focus,
input-search:hover {
  outline: none;
  border-color: rgba(49,64,73, 0.4);
  background-color: #fff;
}

.icon-input-search {
  position: absolute;
  left: 2rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/* buttons msgs reads */
.btn-aside-container {
  display: flex;
  padding: 0 0 5px 20px;
  gap: 7px;
}

.btn-aside {
  position: relative;
  margin: 0;
  padding: 0.5em 0.7em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border: 1px solid #314049;
  background-color: #314049;
  border-radius: 10px;
  color: #aebac1;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-aside:hover {
  animation: 0.5s ease-in-out both;
}

.btn-aside:hover {
  color: #314049;
  background-color: #eee;
  border: 1px solid #314049;
}

/* online */
/* media queries  */

.main {
  grid-area: main;
  background-color: #ffffff;
}
